@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

:root {
  --main-bg-color:#F2F2F2;
  --main-color: #000000;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.main-header {
  background-color: #ffffff;
  min-height: 64px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 570;
  margin: 0;
  margin-right: auto;
  margin-left: 40px;
  padding: 0;
  list-style-type: none;
}

.logo-link {
  display: block;
  width: 140px;
  margin: 0;
  margin-left: 70px;
  margin-right: 28px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: var(--main-color);
  padding: 20px 16px;
}

.navigation-link-user {
  display: block;
  padding: 24px 13px;
}

.button-form {
  display: block;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
  margin: 14px 0;
  margin-right: 70px;
  text-transform: uppercase;
  border-radius: 4px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  display: block;
  width: 1200px;
  min-height: 485px;
  background-color: #444444;
  background-image: url("../images/background-photos/background-frame.svg"), url("../images/background-photos/index-background.jpg");
  background-position: bottom center, center;
  background-repeat: no-repeat, no-repeat;
  position: relative;
  background-size: 100%, 100%;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
}

.advantages {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.short-description {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 69px 290px 25px 290px ;
}

.advantages-list-preview {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 274px 90px 275px;
}

.advantages-fisrt-block {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

.fisrt-block-text-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 92px 85px 111px 85px;
}

.advantages-title {
  box-sizing: border-box;
  display: block;
  margin: 0;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
}

.advantages-list-inner {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 175px;
}

.advantages-item-inner {
  box-sizing: border-box;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
  min-width: 400px;
  list-style-type: none;
  padding-top: 121px;
  padding-bottom: 103px;
}

.advantages-title-inner {
  display: block;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 62px;
  line-height: 28px;
  text-transform: uppercase;
}

.advanatges-facilities {
  padding-top: 182px;
  padding-bottom: 81px;
  margin: 0;
}

.advantages-description-inner {
  margin: 0;
  margin-left: 85px;
  max-width: 230px;
}

.advantages-block-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-block-white {
  background-color: #ffffff;
}

.inn-search {
  box-sizing: border-box;
  width: 1200px;
  min-height: 406px;
  background-color: #ffffff;
  text-align: center;
  padding: 96px 304px;
}

.short-description-search {
  margin: 0;
  margin-bottom: 20px;
}

.advantages-list-preview-search {
  max-width: 592px;
  margin: 0;
  margin-bottom: 54px;
}

.inn-search-button {
  display: block;
  margin: 0 108px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.newsletter-with-pic-container {
  box-sizing: border-box;
  min-height: 415px;
  color: #ffffff;
  width: 1200px;
  text-align: center;
  background-color: #444444;
  background-image: url("../images/background-photos/subscribe-background.jpg");
  background-position: 0 top;
  background-repeat: no-repeat;
  padding-top: 96px;
  background-size: cover;
}

.footer-bottom {
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  box-sizing: border-box;
  list-style-type: none;
  width: 48px;
  min-height: 40px;
  padding: 0 10px;
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: var(--main-color);
}

.footer-logo {
  display: block;
  width: 115px;
  min-height: 33px;
  margin: 9px 0;

}

/* catalog */


.inner-header-container {
  width: 1200px;
  min-height: 415px;
  padding: 35px, 70px, 70px, 70px;
  color: #ffffff;
  background-color: #444444;
  background-image: url("../images/background-photos/filter-background.jpg");
  background-repeat: no-repeat;

}
  .inner-header {
    margin: 0;
    flex-wrap: wrap ;
  }

.catalog {
  width: 1060px;
  margin: 0;
}

.catalog-filter-group {
  display: flex;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 114px;
  min-height: 21px;
}

.breadcrumbs-link {
  font-size: 16px;
}

.select-control-container {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
}

.select-control {
  margin-left: auto;
  margin-right: 70px;
}

.sort-button-container {
  display: flex;
}

.sort-button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.sort-button:last-child {
  margin-right: 0;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  line-height: 23px;
}

.apply-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  color: #ffffff;
  min-width: 191px;
  height: 36px;
  box-sizing: border-box;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
}


.reset-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  color: #ffffff;
  min-width: 191px;
  height: 36px;
  box-sizing: border-box;
  background-color: transparent;
  text-transform: uppercase;
  border-color: transparent;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.cheap {
  color: #333333;
}

.inn-card-image {
  display: block;
}

.inns-card {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
}

.inn-card-item {
  margin-right: 10px;
  justify-content: space-between;
  padding: 20px;
  width: 280px;
  list-style-type: none;
}

.inn-card-item:nth-child(3) {
  margin: 0;
}


.inn-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.inn-type {
  color: #333333;
}

.price {
  color: #333333;
}

.inn-card-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
}

.inn-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.inn-favorites-chosen {
  background-color: #7DB54F;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: var(--main-bg-color);
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}


.pagination-link {
  box-sizing: border-box;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  padding: 12px 23px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

.newsletter-container {
  box-sizing: border-box;
  width: 1200px;
  min-height: 415px;
  color: var(--main-color);
  text-align: center;
  background-color: #ffffff;
  padding-top: 96px;
  background-size: cover;
}
